/* Notes:
    - font-size: 1rem = 16px
    - colour pallette:
        - #5e6c3b dark moss green
        - #d2b48c tan
        - #ff7f50 coral
        - #fff8e7 cosmic latte
        - #5d8aa8 air force blue
*/


/* Page Structure */
body {
    background-color: #fff8e7;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Heading Text */
.heading {
    display: flex;
    flex-direction: column;
    color: #5E6C3B;
}

h1 {
    font-size: 7rem;
    margin: 0;
}

h2 {
    font-size: 4rem;
    margin: 0;
    text-align: right;
}

h1, h2 {
    font-family: 'Arial Narrow', Georgia, sans-serif;
}


/* Dividers */
.divider {
    width: 100%;
    margin: 20px 0;
}

.thick {
    border-top: 5px solid #ff7f50;
}

.thin {
    border-top: 2px solid #ff7f50;
}


/* Menu Items */
.fresh, .toasted, .panino {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}

.description {
    font-style: italic;
}